.ques {
    color: darkslateblue;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        z-index: 2;
        content: "";
        height: 26px;
        width: 26px;
        left: 2px;
        bottom: 2px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
        -webkit-transition: .4s;
        transition: all 0.4s ease-in-out;
    }

    .slider:after {
        position: absolute;
        left: 0;
        z-index: 1;
        content: "YES";
        font-size: 15px;
        text-align: left !important;
        line-height: 30px;
        padding-left: 0;
        width: 100px;
        color: #fff;
        height: 30px;
        border-radius: 100px;
        background-color: #3c8dbc;
        -webkit-transform: translateX(-69px);
        -ms-transform: translateX(-69px);
        transform: translateX(-69px);
        transition: all 0.4s ease-in-out;
    }

input:checked + .slider:after {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    /*width: 235px;*/
    padding-left: 25px;
}

input:checked + .slider:before {
    background-color: #fff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(69px);
    -ms-transform: translateX(69px);
    transform: translateX(69px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 100px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.absolute-no {
    position: absolute;
    left: 0;
    color: darkslategrey;
    text-align: right !important;
    font-size: 15px;
    width: calc(100% - 25px);
    height: 26px;
    line-height: 30px;
    cursor: pointer;
}

/*Slider round*/
.switch-nim {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch-nim input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider-nim {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider-nim:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider-nim {
    background-color: #2196F3;
}

input:focus + .slider-nim {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-nim:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider-nim.round {
    border-radius: 34px;
}

    .slider-nim.round:before {
        border-radius: 50%;
    }