
DATABASE_URL=postgresql://postgres:CHANGE_THIS_STRONG_PASSWORD@db:5432/admin_db?schema=public
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=admin_db
DATABASE_USER=postgres
DATABASE_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
NODE_ENV=production
NEXT_PUBLIC_BASE_PATH=/ams
AUTH_SECRET=CHANGE_THIS_TOO